<div class="chat__container">
    <div class="chat__chats-sidebar">
        <a href="/#/profile" class="chat__profile-link">Профиль <img src="{{{icons.arrow}}}"/></a>
        <form class="chat__search-container">
            <input type="text" placeholder="Поиск" class="chat__search" name="search">
            <img src="{{{icons.search}}}"/>
        </form>

        <ul class="chat__chats-list">
            {{#each chats}}
                {{{this}}}
            {{/each}}
        </ul>
    </div>
    <div class="chat__main-screen">
        <div class="centered-screen">
            <div class="chat__empty-message">Выберите чат чтобы отправить сообщение</div>
        </div>
    </div>
</div>
