<div class="centered-screen">
    <form class="auth-form card">
        <h3>{{title}}</h3>

        <div class="inputs">
            {{#each inputs}}
                {{{this}}}
            {{/each}}
        </div>

        <div class="buttons">
            {{#each buttons}}
                {{{this}}}
            {{/each}}
        </div>
    </form>
</div>
