<div class="centered-screen">
    <div class="error-page">
        <div class="error-page__code">{{code}}</div>
        <div class="error-page__message">{{message}}</div>
        {{{backToChats}}}
    </div>
</div>
