<div class="dispatcher-page">
    <h1 class="dispatcher-page__title">Бобро пожаловать!</h1>
    <p class="dispatcher-page__description">
        Привет! Это просто разводящая страница. Отсюда ты можешь попасть на любую из сверстанных в рамках
        этого проекта страниц. Просто кликни на одну из ссылок ниже, а когда захочешь вернуться назад,
        нажми кнопку "Назад" в браузере. А вот
        <a
            href="https://www.figma.com/file/jF5fFFzgGOxQeB4CmKWTiE"
            target="_blank"
        >ссылка на макет</a>,
        чтобы было с чем сравнить.
    </p>
    <nav>
        <ul class="dispatcher-page__links">
            <li><a href="/#/login">Логин</a></li>
            <li><a href="/#/register">Регистрация</a></li>
            <li><a href="/#/chat">Чат</a></li>
            <li><a href="/#/profile">Профиль</a></li>
            <li><a href="/#/profile/edit">Редактирование профиля</a></li>
            <li><a href="/#/profile/change-password">Смена пароля</a></li>
            <li><a href="/#/404">404</a></li>
            <li><a href="/#/500">500</a></li>
        </ul>
    </nav>
</div>
