:root {
  --color-white: #ffffff;
  --color-primary: #3369f3;
  --color-primary-dark: #0d47de;
  --color-danger: #FF2F2F;
  --color-danger-dark: #f10000;
  --color-gray: #999;
  --color-black: #1E1E1E;
}
